<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                {{ range .Site.Params.add_feature}}
                <li>
                    <a href="#">
                    {{ .title }}
                    </a>
                </li>
                {{end}}
            </ul>
        </nav>
        <div class="social-area pull-right">
        {{ range .Site.Params.add_social_icon}}
            <a class="btn btn-social btn-facebook btn-simple">
                <i class="fa {{ .icon}}"></i>
            </a>
        {{end}}
        </div>
        <div class="copyright">
            {{ range .Site.Params.footer_settings}}
            &copy; {{ .year }} <a href="{{ .name_link }}">{{ .name_create }}</a>, {{ .text}}
            {{end}}
        </div>
    </div>
</footer>
