<div class="parallax filter-gradient blue" data-color="blue">
    {{ range .Site.Params.parallax_settings }}
    <div class="parallax-background">
        <img class="parallax-background-image" src="{{ .img_background}}">
    </div>
    <div class= "container">
        <div class="row">
            <div class="col-md-5 hidden-xs">
                <div class="parallax-image">
                    <img class="phone" src="{{ .img_principal}}" style="margin-top: 20px"/>
                </div>
            </div>
            
            <div class="col-md-6 col-md-offset-1">
                
                <div class="description">
                    <h2>{{ .title }}</h2>
                    <br>
                    <h5>{{ .text }}</h5>
                </div>
                {{end}}
                <div class="buttons">
                    {{ range .Site.Params.add_button }}
                        <a class="btn {{ .type_button }} btn-neutral" href="{{ .link }}">
                            <i class="fa {{ .fa_awesome }}"></i> {{ .text_button }}
                        </a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    
</div>

                    