<div class="section section-gray section-clients">
    <div class="container text-center">
        {{ range .Site.Params.clients_settings}}
        <h4 class="header-text">{{ .title }}</h4>
        <p>
            {{ .text }}<br>
        </p>
        {{end}}
        <div class="logos">
            <ul class="list-unstyled">
                {{ range .Site.Params.add_logo_cliente}}
                    <li ><img src="{{ .img }}"/></li>
                {{end}}
            </ul>
        </div>
    </div>
</div>