<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        {{ range .Site.Params.no_padding_settings }}
        <div class="parallax-background">
            <img class ="parallax-background-image" src="{{ .img_background }}"/>
        </div>
        <div class="info">
            <h1>{{ .title }}</h1>
            <p>{{ .text }}</p>
            <a href="{{ .btn_link }}" class="btn btn-neutral btn-lg {{ .btn_type }}">{{ .btn_text }}</a>
        </div>
        {{end}}
    </div>
</div>