<div class="section section-features">
    <div class="container">
    {{range .Site.Params.features_settings}}
        <h4 class="header-text text-center">{{ .title}}</h4>
    {{end}}
        <div class="row">
        {{range .Site.Params.add_feature}}
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <div class="text">
                        <h4>{{ .title }}</h4>
                        <p>{{ .text}}</p>
                    </div>
                </div>
            </div>
           {{end}}
        </div>
    </div>
</div>