<div class="section section-presentation">
    <div class="container">
        <div class="row">
        {{ range .Site.Params.presentation_settings }}
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">{{ .title }}</h4>
                    <p>{{ .text1}}</p>
                    <p>{{ .text2}}</p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="{{ .img}}"/>
            </div>
        {{end}}
        </div>
    </div>
</div>