<div class="section section-testimonial">
    <div class="container">
        {{ range .Site.Params.testimonial_settings }}
        <h4 class="header-text text-center">{{ .title }}</h4>
        {{end}}
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
            {{ range .Site.Params.add_testimonial}}
                <div class="item">
                    <div class="mask">
                        <img src="{{ .img }}">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>{{ .name }}</p>
                        <h3>"{{ .text }}"</h3>
                    </div>
                </div>
            {{end}}
            </div>
            <ol class="carousel-indicators carousel-indicators-blue">
            {{ range .Site.Params.add_testimonial }}
                <li data-target="#carousel-example-generic" data-slide-to="{{ .position }}"></li>
            {{end}}
            </ol>
        </div>
    </div>
</div>
